<mat-toolbar color="primary" class="mat-elevation-z6 ">
  <i class="material-icons icon-marg-r" routerLink="../">keyboard_backspace</i>
  <span>back to Places</span>
  <span class="tlb-spacer"></span>
  <button mat-mini-fab color="primary" (click)="addNewCatPlace()">
    <mat-icon class="material-icons">add</mat-icon>
  </button>
</mat-toolbar>
<mat-card *ngIf="categories">
  <mat-list>
    <h3 mat-subheader>categories list</h3>
    <mat-list-item *ngFor="let cat of categories">
      <h4 mat-line>{{cat.name}}</h4>
      <button mat-icon-button (click)="openConfirmator(cat)">
        <i class="material-icons">delete</i>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
