
<div class="mat-typography">
  <h2>{{data.descr}}</h2>
  <p>add new place description</p>
  <mat-form-field>
    <input matInput [(ngModel)]="newPlaceDescr" placeholder="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newPlaceName" placeholder="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newPlaceCat" placeholder="category">
  </mat-form-field>

  <div class="">
    <button mat-raised-button (click)="close()">CANCEL</button>
    <button mat-raised-button (click)="addPlace()">ACCEPT</button>
  </div>
</div>
