<div class="mat-typography addmodal">
  <h2>{{data.descr}}</h2>
  <!-- <p>add new place description</p> -->

  <form class="add-modal" [formGroup]="addModalForm">

    <mat-form-field>
      <input matInput placeholder="name" formControlName="newPlaceName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="short description" formControlName="newPlaceShortDescr" required>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="description" formControlName="newPlaceDescr" required></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>category</mat-label>
      <mat-select formControlName="newPlaceCat" required>
        <mat-option value="None">None</mat-option>
        <mat-option *ngFor="let cat of existCatPlaces" [value]="cat.name">{{cat.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-raised-button (click)="close()">CANCEL</button>
      <button mat-raised-button (click)="savePlace()" [disabled]="!addModalForm.valid">ACCEPT</button>

    </div>

  </form>
</div>
