<div class="mypl-container">

  <div class="sidepanel">
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button mat-mini-fab color="primary" (click)="setAddState()">
          <mat-icon class="material-icons">add</mat-icon>
        </button>
        <h3>My places</h3>
      </mat-toolbar>
      <app-place-list
        *ngIf= "myplaces"
        [places]="myplaces"
        (placeSel)="onPlaceSelected($event)">
      </app-place-list>
  </div>

  <agm-map
    [latitude]="currentZoom.lat"
    [longitude]="currentZoom.lng"
    [zoom]="currentZoom.zoom"
    (mapClick)="onChoseLocation($event)">

    <agm-marker *ngFor = "let m of myplaces"
      [latitude] = "m.lat"
      [longitude] = "m.lng"
      [label]="m.name">
    </agm-marker>
  </agm-map>

</div>
