.mypl-container {
  display: flex;
  height: 100%;
}

app-map {
  flex: 3;
}


.sidepanel {
  flex: 2;
  height: 100%;

  mat-toolbar {
    display: flex;
    justify-content: space-between;
  }
}

.addInfo {
  position: absolute;
  top: 40px;
  left: 61px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 666px) {
  .mypl-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  app-map {
    order: -1;
    flex: 1;
    min-height: 100px;
  }

  .sidepanel {
    flex: 0 1 auto;
    height: auto;
  }

}
