.my-toolbar {
  display: flex;

  span {
    flex: 1;
    text-align: center
  }
}

.mat-h4 {
  margin: 0;
}

@media(max-width:497px) {
  mat-toolbar-row {
    flex-direction: column;
    height: auto;
  }
}
